.file-input-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    background: #f4f5f8;
    border-radius: 8px;
    border: 1px dashed #ccc;
  }
}

.hint {
  font-size: 12px;
  color: var(--ion-color-success);
  margin-top: 5px;
  font-style: italic;
}

ion-textarea {
  --background: #fff;
}