<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" href="/app/home">
      <ion-icon name="home-outline"></ion-icon> 
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/app/categories">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/app/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/app/favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/app/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>