/* Tombol Hapus Floating (Ini unik khusus halaman ini, JANGAN DIHAPUS) */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  
  ion-icon {
    font-size: 18px;
    color: var(--ion-color-danger);
  }

  &:active {
    transform: scale(0.9);
  }
}