<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="login-container">
    
    <div class="header-section">
      <ion-icon name="newspaper" color="primary" style="font-size: 60px; margin-bottom: 10px;"></ion-icon>
      <h1>Portal Berita</h1>
      <p>Masuk untuk membaca berita terkini</p>
    </div>

    <ion-list lines="none">
      
      <ion-item class="custom-input">
        <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
        <ion-input 
          label="Email" 
          labelPlacement="stacked" 
          type="email" 
          [(ngModel)]="email" 
          placeholder="Contoh: user@email.com">
        </ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
        <ion-input 
          label="Password" 
          labelPlacement="stacked" 
          type="password" 
          [(ngModel)]="password" 
          placeholder="********">
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-button type="button" expand="block" (click)="login()" class="btn-submit header-gradient">
      MASUK
    </ion-button>

    <div class="footer-link">
      <p>Belum punya akun? <a routerLink="/register">Daftar disini</a></p>
    </div>

    <ion-toast
      [isOpen]="isToastOpen"
      [message]="toastMessage"
      [duration]="3000"
      color="danger"
      position="top"
      (didDismiss)="setOpen(false)"
    ></ion-toast>

  </div>
</ion-content>