.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.header-section {
  text-align: center;
  margin-bottom: 40px;

  h1 {
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-bottom: 5px;
  }
  p {
    color: var(--ion-color-medium);
    font-size: 14px;
  }
}

.input-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  --background: transparent;
}

.main-btn {
  margin-top: 20px;
  --border-radius: 10px;
}

.footer-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--ion-color-primary);
  }
}