.welcome-box {
  margin-bottom: 10px;
  p { margin: 0; color: var(--ion-color-medium); }
  h2 { margin: 5px 0 0 0; font-weight: bold; }
}

ion-card {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card-footer {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  font-size: 12px;
  font-weight: bold;
  color: var(--ion-color-medium);

  display: flex;
  align-items: center;

  ion-icon {
    font-size: 14px;
    margin-right: 4px;
    vertical-align: middle;
  }
}