/* 1. WELCOME MESSAGE (Tetap Pertahankan) */
.welcome-box {
  margin-bottom: 15px;
  p { 
    margin: 0; 
    color: var(--ion-color-medium); 
    font-size: 14px;
  }
  h2 { 
    margin: 5px 0 0 0; 
    font-weight: 800; 
    color: var(--ion-text-color);
  }
}

/* 2. CARD FOOTER */
.card-footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid var(--ion-color-light); /* Garis pemisah tipis */
  
  display: flex;
  gap: 20px;
  font-size: 13px;
  font-weight: 600;
  color: var(--ion-color-medium);

  span {
    display: flex;
    align-items: center;
  }

  ion-icon {
    font-size: 16px;
    margin-right: 6px;
  }
}