<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar class="header-gradient">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cari Berita</ion-title>
  </ion-toolbar>

  <ion-toolbar class="header-gradient search-padding">
    <ion-searchbar
      placeholder="Ketik judul berita..."
      [value]="searchQuery"
      (ionInput)="handleSearch($event)"
      animated="true"
      show-clear-button="always"
      debounce="500"
      class="custom-search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!hasSearched" class="empty-state">
    <ion-icon name="newspaper-outline"></ion-icon>
    <h3>Temukan Berita</h3>
    <p>Ketik kata kunci di atas untuk mencari.</p>
  </div>

  <ion-list *ngIf="hasSearched && filteredNews.length > 0" lines="none">
    
    <ion-card
      *ngFor="let berita of filteredNews"
      (click)="goToDetail(berita.id)"
      class="news-card"
      button>

      <div class="card-img-wrapper">
        <img [src]="berita.thumbnail_url ? imgUrl + berita.thumbnail_url : 'assets/no-img.png'" />
      </div>

      <ion-card-header>
        <ion-card-subtitle>
          {{ berita.created_at | date:'d MMM y' }} • {{ berita.author_name }}
        </ion-card-subtitle>
        <ion-card-title>{{ berita.title }}</ion-card-title>
      </ion-card-header>

    </ion-card>
  </ion-list>

  <div
    *ngIf="hasSearched && filteredNews.length === 0 && searchQuery.length > 0"
    class="empty-state">
    <ion-icon name="search-outline"></ion-icon>
    <h3>Tidak Ditemukan</h3>
    <p>Tidak ada hasil untuk "<strong>{{ searchQuery }}</strong>"</p>
  </div>

</ion-content>