<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HMP News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="welcome-section">
    <h1>Halo, {{ user?.fullname }}!</h1>
    <p>Simak berita pilihan hari ini.</p>
  </div>

  <h3>Top News</h3>
  <div class="highlight-container">
    <div *ngFor="let item of highlights" class="highlight-card" [routerLink]="['/news-detail', item.id]">
      <img [src]="item.thumbnail_url ? imgUrl + item.thumbnail_url : 'assets/no-img.png'" />
      <div class="card-info">
        <h6>{{ item.title }}</h6>
      </div>
    </div>
  </div>

  <ion-button expand="block" routerLink="/app/news" class="ion-margin-top" fill="outline">
    Lihat Semua Berita
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

  <h3 class="ion-margin-top">Menu Cepat</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="menu-box" routerLink="/news-create">
          <ion-icon name="add-circle" color="success"></ion-icon>
          <span>Buat Berita</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-box" routerLink="/app/categories">
          <ion-icon name="grid" color="warning"></ion-icon>
          <span>Kategori</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>