<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="header-gradient">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/categories" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Kategori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="form-wrapper">
    
    <ion-list lines="none">
      <ion-item class="custom-input">
        <ion-icon name="pricetag-outline" slot="start" color="medium"></ion-icon>
        <ion-input 
          label="Nama Kategori" 
          labelPlacement="stacked" 
          placeholder="Contoh: Otomotif" 
          [(ngModel)]="name">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="submit()" class="btn-submit header-gradient">
      SIMPAN
    </ion-button>
    
  </div>

</ion-content>